aiogram>=3.0.0
sqlalchemy[asyncio]>=2.0.0
asyncpg
alembic
python-dotenv
flask
pydantic
Flask-Admin
psycopg2-binary
Flask-Login
flask-wtf
flask-limiter
email-validator
openpyxl
pandas
pytest
pytest-asyncio